$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

$color-main: #999999;
$color-white: #FFFFFF;
$color-gray: #1A1A1A;
$color-gray-2: #1F1F1F;
$color-red: #E50000;
